#first{
    background-color:rgb(180, 111, 111) ;
    border-radius: 2px;
    width: 100%;
   
    button{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        border: 1px solid black;
        font-size: 1rem;
        font-weight: bold;
    }
}